 <div *ngIf="!dataUser.statusEdit" fxLayout="column">
   <h1>
     Are you sure to delete the Task?
   </h1>
   <div fxFlex fxLayoutGap="20px">
     <button mat-stroked-button (click)="delete()" color="warn">Remove</button>
     <button mat-stroked-button (click)="close()">Cancel</button>
   </div>
 </div>


<div *ngIf="dataUser.statusEdit" fxLayout="column"  fxLayoutGap="20px">
  <h1>Task completed?</h1>
  <button mat-stroked-button (click)="update()" color="warn">Edit</button>
  <button mat-stroked-button (click)="close()">Cancel</button>
</div>


